.git
.github
.env
.env.*
*.env
*.env.*
!.env.example
vendor/nitro-docker/.env
vendor/nitro-docker/.cms.env
*.pem
*_private_key*
.deploy_ssh_key.pem
amz_private_key.pem
node_modules
vendor/nitro-docker/db/data
vendor/nitro-docker/db/backup
vendor/nitro-docker/atomcms/logs
vendor/nitro-docker/atomcms/storage
vendor/nitro-docker/assets/usercontent/imageproxy/cache
generated
test-results
